{% extends 'listings/base.html' %} {% block content %}
<div class="d-flex flex-column align-items-center">
	<h1>Création</h1>
	<p>Quel groupe souhaitez-vous ajouter ?</p>
	<form action="" method="post" class="d-flex flex-column align-items-center">
		{% csrf_token %}
		<div class="form-group">
			{% for field in form %}
            <p>{{ field.label }}:</p>
			<div class="mb-3">{{ field }}</div>

			{% endfor %}
		</div>
		<input type="submit" value="envoyer" class="btn btn-primary m-4" />
	</form>
</div>
{% endblock %}
