{% extends 'listings/base.html' %} {% block content %}
<div class="d-flex flex-column align-items-center">
	<h1>Bands</h1>
	<h2>{{ bands|length }} groupes sont actuellement enregistés</h2>

	<div class="list-group w-50">
		{% for band in bands %}
		<a class="list-group-item list-group-item-action list-group-item-light" href="{% url 'band-detail' band.id %}"
			>{{ band.name }}</a
		>
		{% endfor %}
	</div>
	{% if messages %}
	<div {% if message.tags %} class="{{ message.tags }}"{% endif %}></div>
	{% endif %}
</div>

{% endblock %}
