{% extends 'listings/base.html' %} {% block content %}
<h1>Band : {{ band.name }}</h1>
<!-- <p>L'identifiant est {{ band.id }}</p> -->
<ul class="list-group list-group-flush">
    <li class="list-group-item">Genre : {{ band.get_genre_display }}</li>
    <li class="list-group-item">Année de formation : {{ band.year_formed }}</li>
    <li class="list-group-item">Actif : {{ band.active|yesno }}</li>
    <li class="list-group-item">Homepage : {{ band.official_homepage }}</li>
</ul>

<p>{{ band.biography }}</p>

<a class="nav-link" href="{% url 'bands-list' %}">Retour</a>

{% endblock %}
