{% load static %}
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'listings/style.css' %}" />
		<title>Merchex</title>
	</head>
	<body>
        <header>
            <nav>
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'bands-list' %}">Bands</a>
                <a href="{% url 'listings-list' %}">Merch</a>
                <a href="{% url 'about' %}">A propos</a>
                <a href="{% url 'contact' %}">Contact</a>
            </nav>
        </header>
		<div class="container">{% block content %}{% endblock %}</div>
	</body>
</html>
